<a href="https://colab.research.google.com/github/ArunK-ML/College-Admission-Data-Preprocessing-Analyze/blob/main/College_Admission_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/College_Admission_data.csv')
df

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [3]:
df.isnull()

    sl No   name  college    hsc   SSLC  arrears  cmark
0    True   True     True   True   True     True   True
1   False  False    False  False  False    False  False
2   False  False    False  False  False    False   True
3   False  False    False   True  False    False  False
4   False  False    False  False  False    False  False
5   False  False     True  False  False    False  False
6   False  False    False  False  False    False  False
7   False  False    False  False   True    False  False
8   False  False    False  False  False    False  False
9   False  False    False  False  False    False  False
10  False  False    False   True  False    False  False
11   True   True     True   True   True     True   True
12   True   True     True   True   True     True   True
13  False  False    False  False  False    False  False
14  False  False    False  False  False     True  False
15  False  False    False  False  False    False  False
16  False  False     True  False   True    False  False
17  False  False    False  False  False    False  False
18  False  False    False  False  False    False  False
19  False  False    False  False  False    False  False

In [4]:
df.isnull().sum()

sl No      3
name       3
college    5
hsc        5
SSLC       5
arrears    4
cmark      4
dtype: int64

In [5]:
df.notnull().sum()

sl No      17
name       17
college    15
hsc        15
SSLC       15
arrears    16
cmark      16
dtype: int64

In [6]:
df.fillna(100)   # na = fill at the null value

    sl No name              college     hsc   SSLC  arrears  cmark
0   100.0  100                  100  100.00  100.0    100.0  100.0
1     1.0   A1                 IITM   89.90   92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY   76.80   77.9      3.0  100.0
3     3.0   A3      ANNA UNIVERSITY  100.00   85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY   92.50   94.6      1.0   76.0
5     5.0   A5                  100   79.30   65.0      2.0   89.0
6     6.0   A6                  SRM   99.80   88.1      0.0   89.6
7     7.0   A7             SAVEETHA   91.80  100.0      7.0   78.3
8     8.0   A8             SAVEETHA   99.80   65.8     66.0   77.5
9    56.0  A34             SAVEETHA   99.80   99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  100.00   85.6      6.0   99.0
11  100.0  100                  100  100.00  100.0    100.0  100.0
12  100.0  100                  100  100.00  100.0    100.0  100.0
13    9.0   A9  ANAMALAI UNIVERSITY   98.70   91.0      2.0   76.0
14   10.0   AD               fogjof   56.00    9.0    100.0    2.0
15   11.0  A10                 IITM   94.00   77.6      1.0   75.0
16   12.0  A11                  100   88.20  100.0      2.0   72.0
17   13.0  A12            dhgvuicbh   78.90   84.9      3.0   83.0
18   14.0  A13                  SRM   86.90   97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY   88.39   85.6      6.0   99.0

In [7]:
df

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [8]:
df.fillna(method = "bfill") # backward fill

/tmp/ipython-input-8-3541132653.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = "bfill") # backward fill

    sl No name              college    hsc  SSLC  arrears  cmark
0     1.0   A1                 IITM  89.90  92.6      0.0   95.0
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0   99.0
3     3.0   A3      ANNA UNIVERSITY  92.50  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  SRM  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80  65.8      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  98.70  85.6      6.0   99.0
11    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
12    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      1.0    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11            dhgvuicbh  88.20  84.9      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [9]:
df.fillna(method = "ffill") # ffill - forward fill

/tmp/ipython-input-9-2829750531.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = "ffill") # ffill - forward fill

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0   95.0
3     3.0   A3      ANNA UNIVERSITY  76.80  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5  ANAMALAI UNIVERSITY  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80  88.1      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  99.80  85.6      6.0   99.0
11    3.0   A3      ANNA UNIVERSITY  99.80  85.6      6.0   99.0
12    3.0   A3      ANNA UNIVERSITY  99.80  85.6      6.0   99.0
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      2.0    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                 IITM  88.20  77.6      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [10]:
df.ffill() # In New version

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0   95.0
3     3.0   A3      ANNA UNIVERSITY  76.80  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5  ANAMALAI UNIVERSITY  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80  88.1      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  99.80  85.6      6.0   99.0
11    3.0   A3      ANNA UNIVERSITY  99.80  85.6      6.0   99.0
12    3.0   A3      ANNA UNIVERSITY  99.80  85.6      6.0   99.0
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      2.0    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                 IITM  88.20  77.6      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [11]:
df['hsc']=df['hsc'].fillna(method="bfill") # Changing the hsc column alone

/tmp/ipython-input-11-1433478097.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['hsc']=df['hsc'].fillna(method="bfill") # Changing the hsc column alone

In [12]:
df

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN  89.90   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY  92.50  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  98.70  85.6      6.0   99.0
11    NaN  NaN                  NaN  98.70   NaN      NaN    NaN
12    NaN  NaN                  NaN  98.70   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [13]:
df['SSLC'].fillna(df['SSLC'].mean(),inplace=True)

/tmp/ipython-input-13-1371844869.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SSLC'].fillna(df['SSLC'].mean(),inplace=True)

In [14]:
df

    sl No name              college    hsc       SSLC  arrears  cmark
0     NaN  NaN                  NaN  89.90  80.006667      NaN    NaN
1     1.0   A1                 IITM  89.90  92.600000      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.900000      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY  92.50  85.600000      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.600000      1.0   76.0
5     5.0   A5                  NaN  79.30  65.000000      2.0   89.0
6     6.0   A6                  SRM  99.80  88.100000      0.0   89.6
7     7.0   A7             SAVEETHA  91.80  80.006667      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.800000     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.800000      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  98.70  85.600000      6.0   99.0
11    NaN  NaN                  NaN  98.70  80.006667      NaN    NaN
12    NaN  NaN                  NaN  98.70  80.006667      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.000000      2.0   76.0
14   10.0   AD               fogjof  56.00   9.000000      NaN    2.0
15   11.0  A10                 IITM  94.00  77.600000      1.0   75.0
16   12.0  A11                  NaN  88.20  80.006667      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.900000      3.0   83.0
18   14.0  A13                  SRM  86.90  97.000000     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.600000      6.0   99.0

In [15]:
df.dropna() # Dropping the records which has null values

    sl No name              college    hsc       SSLC  arrears  cmark
1     1.0   A1                 IITM  89.90  92.600000      0.0   95.0
3     3.0   A3      ANNA UNIVERSITY  92.50  85.600000      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.600000      1.0   76.0
6     6.0   A6                  SRM  99.80  88.100000      0.0   89.6
7     7.0   A7             SAVEETHA  91.80  80.006667      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.800000     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.800000      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  98.70  85.600000      6.0   99.0
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.000000      2.0   76.0
15   11.0  A10                 IITM  94.00  77.600000      1.0   75.0
17   13.0  A12            dhgvuicbh  78.90  84.900000      3.0   83.0
18   14.0  A13                  SRM  86.90  97.000000     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.600000      6.0   99.0

In [16]:
df.dropna(axis=1) # Dropping the columns which has null values # Don't try this

      hsc       SSLC
0   89.90  80.006667
1   89.90  92.600000
2   76.80  77.900000
3   92.50  85.600000
4   92.50  94.600000
5   79.30  65.000000
6   99.80  88.100000
7   91.80  80.006667
8   99.80  65.800000
9   99.80  99.800000
10  98.70  85.600000
11  98.70  80.006667
12  98.70  80.006667
13  98.70  91.000000
14  56.00   9.000000
15  94.00  77.600000
16  88.20  80.006667
17  78.90  84.900000
18  86.90  97.000000
19  88.39  85.600000

In [17]:
df.dropna(how= "any") # by default this will erase the records which has null values

    sl No name              college    hsc       SSLC  arrears  cmark
1     1.0   A1                 IITM  89.90  92.600000      0.0   95.0
3     3.0   A3      ANNA UNIVERSITY  92.50  85.600000      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.600000      1.0   76.0
6     6.0   A6                  SRM  99.80  88.100000      0.0   89.6
7     7.0   A7             SAVEETHA  91.80  80.006667      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.800000     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.800000      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY  98.70  85.600000      6.0   99.0
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.000000      2.0   76.0
15   11.0  A10                 IITM  94.00  77.600000      1.0   75.0
17   13.0  A12            dhgvuicbh  78.90  84.900000      3.0   83.0
18   14.0  A13                  SRM  86.90  97.000000     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.600000      6.0   99.0